@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
  font-family: "Roboto", sans-serif;
  background-color: #EEF2F4 !important;
}

.navbar-wrapper {
  position: relative;
}

.custom-navbar {
  background-color: #009fe5 !important;
  height: 121px;
}

.bottom-bar {
  background-color: #143976;
  height: 48px;
  padding: 2px;
}

.sieteLogo{
   height:107px;
   margin-left: 66px;
   margin-bottom: 10px;
}

.navTextLeft{
  color:#ffffff;
  margin-left:73px;
  font-size: medium;
  text-decoration: none;
  float:left;
  

  
  
}

.navTextRight{
  color:#ffffff;
  font-size: medium;
  margin-right:73px;
  float:right;
  text-decoration: none;
  
}

.bottom-bar-content{
  margin-top: 10px;
}

.footerBody{
  position: relative;
  background-color:#143976;
  color:#ffffff;
  height:300px;
}

.sieteFootText{
  color:#ffffff;
  font-size: x-large;
  margin-left: 175px;
}

.versionText{
  margin-left: -65px;
  color: grey;
}

.sieteInfo{
  margin-bottom: 123px;
  margin-left: 175px;
  word-wrap: break-word; /* Ensures long words break */
  line-height: 1.5;
}

.followUs{
  color:#ffffff;
  font-size: x-large;
  margin-left: -150px;



}

.codehackSites{
  color:#ffffff;
  font-size: x-large;
  margin-left: 50px;

}

.footerLogo{
position:relative;
 height:85px;
 margin-bottom: -90px;
 margin-top: 10px;
}

.codeHackLogo{
  position:relative;
  margin-top: 10px;
  height:65px;
  margin-left: 290px;

}

.contactUs{
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 165px;
  font-weight:300;
  font-size: 40px;
}

